# Data Science Tools and Ecosystem

## Author 
Michael Ayotunde OKUNADE

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* R
* SQL
* Python
* Julia 
* Java

Some of the popular languages that Data Scientists use are:

In [8]:
ds_languages= ["Python", "R", "SQL"]
ds_languages

['Python', 'R', 'SQL']

Some of the commonly used libraries used by Data Scientists include:

In [19]:
ds_libraries= ["matplotlib","seaborn", "pandas"]
ds_libraries.sort()
ds_libraries

['matplotlib', 'pandas', 'seaborn']

In [23]:
import pandas as pd
data= {"Data Science Tools": ["Jupyter Notebook", "RStudio", "Apache Zeppelin"]}
df= pd.DataFrame(data)
df

  Data Science Tools
0   Jupyter Notebook
1            RStudio
2    Apache Zeppelin

### Below are a few examples of evaluating arithmetic expressions in Python

In [26]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [28]:
# This will convert 200 minutes to hours by diving by 60
mins= int(input("Enter number of minutes: "))
no_of_hrs= mins/60
print(no_of_hrs)

Enter number of minutes:  200

3.3333333333333335